Tutorial_code_samples/KPN-SMS_using_Node-RED/Send_SMS_with_Node-RED_flow.json
[{"id":"f3bfeba2.8ac5b8","type":"tab","label":"KPN SMS - Send SMS","disabled":false,"info":""},{"id":"ffd39811.e7f068","type":"http request","z":"f3bfeba2.8ac5b8","name":"Access token request","method":"use","ret":"obj","paytoqs":"ignore","url":"","tls":"","persist":false,"proxy":"","authType":"","x":280,"y":438,"wires":[["14a95d62.61f4c3"]]},{"id":"73f7c8ff.c382b8","type":"function","z":"f3bfeba2.8ac5b8","name":"Prepare request","func":"/*\nTo use KPN APIs, an access token (also called bearer) token must first be obtained.\nThe bearer token is obtained by invoking an Authorization API (`loginAPI`) using a POST method.\nThe API payload is an object with the client credentials:\n\nclient_id\nclient_secret\n\nIf correct, the API returns a payload object that will contain a valid access token authentication in subsequest API requests.\n*/\n\n// set `loginAPI` API here:\n\nvar loginAPI = \"https://api-prd.kpn.com/oauth/client_credential/accesstoken?grant_type=client_credentials\";\n\nmsg.method = \"POST\";\nmsg.url = loginAPI;\nmsg.headers = {};\nmsg.headers[\"Content-Type\"] = \"application/x-www-form-urlencoded\";\n\n// Use your `client_id` and `client_secret` from KPN API Store.\nmsg.payload = 'client_id=' + msg.client_id + '&client_secret=' + msg.client_secret;\nreturn msg;","outputs":1,"noerr":0,"x":260,"y":378,"wires":[["ffd39811.e7f068"]],"info":"To use KPN APIs, an access token (also called bearer) token must first be obtained.\n\nThe bearer token is obtained by invoking an Authorization API (`loginAPI`) using a POST method.\n\nThe API payload is an object with the `client credentials`:\n* `client_id`\n* `client_secret`\n\n\nUse your `client_id` and `client_secret` from KPN API Store.\n\nIf correct, the API returns a payload object that will contain a valid access token authentication in subsequest API requests."},{"id":"d7e588b7.ab5718","type":"credentials","z":"f3bfeba2.8ac5b8","name":"Set API Store credentials","props":[{"value":"client_id","type":"msg"},{"value":"client_secret","type":"msg"}],"x":280,"y":318,"wires":[["73f7c8ff.c382b8"]]},{"id":"14a95d62.61f4c3","type":"credentials","z":"f3bfeba2.8ac5b8","name":"Set SMS number and content","props":[{"value":"mobile_number","type":"msg"},{"value":"content","type":"msg"}],"x":550,"y":520,"wires":[["3e6b13fb.10e3fc"]]},{"id":"3e6b13fb.10e3fc","type":"function","z":"f3bfeba2.8ac5b8","name":"Set request body","func":"/*\nTo make sure that personal details are not made public we retrieve \nthe mobile phone number that was stored in the Credentials node \nand add it to the JSON body of the API request. \n*/\n\nmsg.json = `{\n    \"sender\": \"KPN API\",\n    \"messages\": [\n        {\n            \"mobile_number\": \"` + msg.mobile_number +`\",\n            \"content\": \"` + msg.content +`\"\n        }\n    ]\n}`;\nreturn msg;","outputs":1,"noerr":0,"x":508,"y":589,"wires":[["e8219f1e.bff56"]]},{"id":"e8219f1e.bff56","type":"function","z":"f3bfeba2.8ac5b8","name":"Prepare request","func":"/*\nUse Bearer token to authenticate API call.\nIn this example, we will use the \"/sms-kpn/v1/send\" API\n\nNote: The bearer token gets retrieved from the \nauthorization request: `msg.payload.access_token`\n*/\n\nvar baseURL = \"https://api-prd.kpn.com/messaging/sms-kpn/v1\";\nvar apiEndpoint = \"/send\";\n\nmsg.method = \"POST\";\nmsg.url = baseURL + apiEndpoint;\nmsg.headers = {};\nmsg.headers.Authorization = \"Bearer \" + msg.payload.access_token;\nmsg.headers[\"Content-Type\"] = \"application/json\";\n//msg.payload = null;\nmsg.payload = msg.json;\nreturn msg;","outputs":1,"noerr":0,"x":498,"y":649,"wires":[["4a1415ce.b637dc"]],"info":"Use Bearer token from previous request in the headers to authenticate API request.\n\nNote: The bearer token gets retrieved from the payload of the previous authorization request: `msg.payload.access_token`\n"},{"id":"4a1415ce.b637dc","type":"http request","z":"f3bfeba2.8ac5b8","name":"Send SMS request","method":"use","ret":"txt","paytoqs":"ignore","url":"","tls":"","persist":false,"proxy":"","authType":"","x":508,"y":709,"wires":[["3493c12e.17a21e"]]},{"id":"3493c12e.17a21e","type":"debug","z":"f3bfeba2.8ac5b8","name":"Send SMS request result","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":748,"y":709,"wires":[]},{"id":"8d7e47e8.65da48","type":"switch","z":"f3bfeba2.8ac5b8","name":"","property":"payload","propertyType":"msg","rules":[{"t":"else"},{"t":"gte","v":"40","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":90,"y":200,"wires":[["2c8595b0.14931a"],["d7e588b7.ab5718"]]},{"id":"765b239f.f797dc","type":"inject","z":"f3bfeba2.8ac5b8","name":"","props":[{"p":"payload","v":"","vt":"date"},{"p":"topic","v":"","vt":"string"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":120,"y":80,"wires":[["69306f7f.84798"]]},{"id":"2c8595b0.14931a","type":"debug","z":"f3bfeba2.8ac5b8","name":"Random number output","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":290,"y":193,"wires":[]},{"id":"ce5cc929.364828","type":"comment","z":"f3bfeba2.8ac5b8","name":"1. Set API Store credentials","info":"Enter your KPN API Store credentials here.","x":580,"y":320,"wires":[]},{"id":"a6a79c89.56bb","type":"comment","z":"f3bfeba2.8ac5b8","name":"2. Set SMS number and content","info":"Enter mobile phone number and SMS content here.","x":870,"y":520,"wires":[]},{"id":"70e14c30.c37a34","type":"comment","z":"f3bfeba2.8ac5b8","name":"5. Click the button on the left of the timestamp node to trigger a random number","info":"When the random number is 50 or above, the API request is triggered.","x":540,"y":80,"wires":[]},{"id":"69306f7f.84798","type":"function","z":"f3bfeba2.8ac5b8","name":"Generate random number","func":"msg.payload = Math.round(Math.random()*60);\nreturn msg;","outputs":1,"noerr":0,"x":150,"y":140,"wires":[["8d7e47e8.65da48"]]},{"id":"2e32f470.9984ac","type":"comment","z":"f3bfeba2.8ac5b8","name":"3. Click Deploy (top right) to save the changes","info":" Deploy allows you to launch the flows on \n the FRED server.\n \n You can switch between the info and debug\n tabs to the right of the flows. Info shows\n node information and debug is output from\n debug nodes.\n \nSelect info and then click on a node in a flow\nyou'll see info on the node","x":790,"y":220,"wires":[]},{"id":"a61c0fc2.9752a","type":"comment","z":"f3bfeba2.8ac5b8","name":"4. Select the Debug messages window in the sidebar","info":"","x":810,"y":160,"wires":[]}]