Tutorial_code_samples/Send_SMS_with_Node-RED_flow.json
[{"id":"b582ab7.fe81958","type":"tab","label":"KPN SMS - Send SMS","disabled":false,"info":""},{"id":"84dbf2e2.074ae","type":"function","z":"b582ab7.fe81958","name":"Prepare request","func":"/*\nTo use KPN APIs, an access token (also called bearer) token must first be obtained.\nThe bearer token is obtained by invoking an Authorization API (`loginAPI`) using a POST method.\nThe API payload is an object with the client credentials that were stored in the Credentials node:\n\nclient_id\nclient_secret\n\nIf correct, the API returns a payload object that will contain a valid access token authentication in subsequest API requests.\n*/\n\n// set `loginAPI` API here:\n\nvar loginAPI = \"https://api-prd.kpn.com/oauth/client_credential/accesstoken?grant_type=client_credentials\";\n\nmsg.method = \"POST\";\nmsg.url = loginAPI;\nmsg.headers = {};\nmsg.headers[\"Content-Type\"] = \"application/x-www-form-urlencoded\";\n\n// Use your `client_id` and `client_secret` from KPN API Store.\nmsg.payload = 'client_id=' + msg.client_id + '&client_secret=' + msg.client_secret;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":600,"y":120,"wires":[["7270f3fc.74679c"]],"info":"To use KPN APIs, an access token (also called bearer) token must first be obtained.\n\nThe bearer token is obtained by invoking an Authorization API (`loginAPI`) using a POST method.\n\nThe API payload is an object with the `client credentials`:\n* `client_id`\n* `client_secret`\n\n\nUse your `client_id` and `client_secret` from KPN API Store.\n\nIf correct, the API returns a payload object that will contain a valid access token authentication in subsequest API requests."},{"id":"7270f3fc.74679c","type":"http request","z":"b582ab7.fe81958","name":"Access token request","method":"use","ret":"obj","paytoqs":"ignore","url":"","tls":"","persist":false,"proxy":"","authType":"","x":820,"y":120,"wires":[["1a148fda.65d68","95ab8ed2.f849c"]]},{"id":"1a148fda.65d68","type":"switch","z":"b582ab7.fe81958","name":"If access token received","property":"statusCode","propertyType":"msg","rules":[{"t":"eq","v":"200","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":410,"y":380,"wires":[["90f0a3f2.8499a"],["5c388bf8.d2eae4"]],"inputLabels":["httpResult"],"outputLabels":["noToken","tokenReceived"]},{"id":"ba3bc5a5.04df98","type":"inject","z":"b582ab7.fe81958","name":"Trigger request","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":140,"y":120,"wires":[["ef66c0ab.c22c8"]]},{"id":"5c388bf8.d2eae4","type":"debug","z":"b582ab7.fe81958","name":"No token","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":620,"y":420,"wires":[]},{"id":"34d4be27.fabad2","type":"http request","z":"b582ab7.fe81958","name":"Send SMS request","method":"use","ret":"txt","paytoqs":"ignore","url":"","tls":"","persist":false,"proxy":"","authType":"","x":1370,"y":340,"wires":[["bb7912b.b3165f"]]},{"id":"aa3c06a9.646f98","type":"function","z":"b582ab7.fe81958","name":"Prepare request","func":"/*\nUse Bearer token to authenticate API call.\nIn this example, we will use the \"/sms-kpn/v1/send\" API\n\nNote: The bearer token gets retrieved from the \nauthorization request: `msg.payload.access_token`\n*/\n\nvar baseURL = \"https://api-prd.kpn.com/messaging/sms-kpn/v1\";\nvar apiEndpoint = \"/send\";\n\nmsg.method = \"POST\";\nmsg.url = baseURL + apiEndpoint;\nmsg.headers = {};\nmsg.headers.Authorization = \"Bearer \" + msg.payload.access_token;\nmsg.headers[\"Content-Type\"] = \"application/json\";\n//msg.payload = null;\nmsg.payload = msg.json;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1160,"y":340,"wires":[["34d4be27.fabad2","e5e08a19.a16f98"]],"info":"Use Bearer token from previous request in the headers to authenticate API request.\n\nNote: The bearer token gets retrieved from the payload of the previous authorization request: `msg.payload.access_token`\n"},{"id":"bb7912b.b3165f","type":"debug","z":"b582ab7.fe81958","name":"Send SMS request result","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1450,"y":420,"wires":[]},{"id":"e5e08a19.a16f98","type":"debug","z":"b582ab7.fe81958","name":"Prepare request result","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1160,"y":420,"wires":[]},{"id":"fd0f11f6.004e6","type":"comment","z":"b582ab7.fe81958","name":"Send SMS","info":"1. Double-click the node `Set SMS number and content`.\n2. Enter the mobile number of the recipient and the content of the SMS. \n3. Click `Done.`\n4. Click on the `Trigger request` button to send the request.","x":100,"y":380,"wires":[]},{"id":"ef66c0ab.c22c8","type":"credentials","z":"b582ab7.fe81958","name":"Set API Store credentials","props":[{"value":"client_id","type":"msg"},{"value":"client_secret","type":"msg"}],"x":370,"y":120,"wires":[["84dbf2e2.074ae"]]},{"id":"90f0a3f2.8499a","type":"credentials","z":"b582ab7.fe81958","name":"Set SMS number and content","props":[{"value":"mobile_number","type":"msg"},{"value":"content","type":"msg"}],"x":690,"y":340,"wires":[["a0ec767d.c61888"]]},{"id":"a0ec767d.c61888","type":"function","z":"b582ab7.fe81958","name":"Set request body","func":"/*\nTo make sure that personal details are not made public we retrieve \nthe mobile phone number that was stored in the Credentials node \nand add it to the JSON body of the API request. \n*/\n\nmsg.json = `{\n    \"sender\": \"KPN API\",\n    \"messages\": [\n        {\n            \"mobile_number\": \"` + msg.mobile_number +`\",\n            \"content\": \"` + msg.content +`\"\n        }\n    ]\n}`;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":950,"y":340,"wires":[["aa3c06a9.646f98"]]},{"id":"a2c9beeb.f12bf","type":"comment","z":"b582ab7.fe81958","name":"Obtain access token","info":"1. Go to KPN API Store and copy your credentials.\n2. Double-click the node `Set credentials`.\n2. Enter your KPN API Storecredentials.\n3. Click `Done`","x":130,"y":60,"wires":[]},{"id":"95ab8ed2.f849c","type":"debug","z":"b582ab7.fe81958","name":"Token request result","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1160,"y":120,"wires":[]}]