Tutorial_code_samples/Send_SMS_with_Node-RED_flow.json
[{"id":"a0f00381.2b714","type":"tab","label":"KPN SMS - Send SMS","disabled":false,"info":""},{"id":"da4ab3b2.bf6f","type":"group","z":"a0f00381.2b714","name":"Random temperature generator","style":{"stroke":"#d1d1d1","fill":"#d1d1d1","label":true,"color":"#000000"},"nodes":["24f99893.62b288","3abc1858.fe6348","32590428.384a1c"],"x":34,"y":19,"w":232,"h":202},{"id":"f574a195.f03ec","type":"group","z":"a0f00381.2b714","name":"Obtain access token","style":{"label":true,"color":"#000000","fill":"#e3f3d3","stroke":"#e3f3d3"},"nodes":["d9224870.a19488","61771506.a0818c","429f55f6.520a0c"],"x":254,"y":259,"w":272,"h":202,"info":"1. Go to My API Store and copy your credentials.\n2. Double-click the node `Set credentials`.\n2. Paste your KPN API Store credentials into the corresponding fields.\n3. Click `Done`"},{"id":"f672cf47.f61c8","type":"group","z":"a0f00381.2b714","name":"Send SMS","style":{"stroke":"#bfdbef","label":true,"color":"#000000","fill":"#bfdbef"},"nodes":["7e0f3922.b41968","19d7300f.90ad","f6c16af1.da9828","e8431799.8549e8","666a968b.9f2498"],"x":534,"y":502,"w":292,"h":322},{"id":"3b55d02f.a0201","type":"debug","z":"a0f00381.2b714","name":"Token request result","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":660,"y":420,"wires":[]},{"id":"d9224870.a19488","type":"http request","z":"a0f00381.2b714","g":"f574a195.f03ec","name":"Access token request","method":"use","ret":"obj","paytoqs":"ignore","url":"","tls":"","persist":false,"proxy":"","authType":"","x":380,"y":420,"wires":[["3b55d02f.a0201","666a968b.9f2498"]]},{"id":"61771506.a0818c","type":"function","z":"a0f00381.2b714","g":"f574a195.f03ec","name":"Prepare request","func":"/*\nTo use KPN APIs, an access token (also called bearer) token must first be obtained.\nThe bearer token is obtained by invoking an Authorization API (`loginAPI`) using a POST method.\nThe API payload is an object with the client credentials:\n\nclient_id\nclient_secret\n\nIf correct, the API returns a payload object that will contain a valid access token authentication in subsequest API requests.\n*/\n\n// set `loginAPI` API here:\n\nvar loginAPI = \"https://api-prd.kpn.com/oauth/client_credential/accesstoken?grant_type=client_credentials\";\n\nmsg.method = \"POST\";\nmsg.url = loginAPI;\nmsg.headers = {};\nmsg.headers[\"Content-Type\"] = \"application/x-www-form-urlencoded\";\n\n// Use your `client_id` and `client_secret` from KPN API Store.\nmsg.payload = 'client_id=' + msg.client_id + '&client_secret=' + msg.client_secret;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":360,"y":360,"wires":[["d9224870.a19488"]],"info":"To use KPN APIs, an access token (also called bearer) token must first be obtained.\n\nThe bearer token is obtained by invoking an Authorization API (`loginAPI`) using a POST method.\n\nThe API payload is an object with the `client credentials`:\n* `client_id`\n* `client_secret`\n\n\nUse your `client_id` and `client_secret` from KPN API Store.\n\nIf correct, the API returns a payload object that will contain a valid access token authentication in subsequest API requests."},{"id":"429f55f6.520a0c","type":"credentials","z":"a0f00381.2b714","g":"f574a195.f03ec","name":"Set API Store credentials","props":[{"value":"client_id","type":"msg"},{"value":"client_secret","type":"msg"}],"x":390,"y":300,"wires":[["61771506.a0818c"]]},{"id":"666a968b.9f2498","type":"switch","z":"a0f00381.2b714","g":"f672cf47.f61c8","name":"If access token received","property":"statusCode","propertyType":"msg","rules":[{"t":"else"},{"t":"eq","v":"200","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":670,"y":543,"wires":[[],["e8431799.8549e8"]],"inputLabels":["httpResult"],"outputLabels":["tokenReceived","noToken"]},{"id":"e8431799.8549e8","type":"credentials","z":"a0f00381.2b714","g":"f672cf47.f61c8","name":"Set SMS number and content","props":[{"value":"mobile_number","type":"msg"},{"value":"content","type":"msg"}],"x":680,"y":603,"wires":[["f6c16af1.da9828"]]},{"id":"f6c16af1.da9828","type":"function","z":"a0f00381.2b714","g":"f672cf47.f61c8","name":"Set request body","func":"/*\nTo make sure that personal details are not made public we retrieve \nthe mobile phone number that was stored in the Credentials node \nand add it to the JSON body of the API request. \n*/\n\nmsg.json = `{\n    \"sender\": \"KPN API\",\n    \"messages\": [\n        {\n            \"mobile_number\": \"` + msg.mobile_number +`\",\n            \"content\": \"` + msg.content +`\"\n        }\n    ]\n}`;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":650,"y":663,"wires":[["19d7300f.90ad"]]},{"id":"19d7300f.90ad","type":"function","z":"a0f00381.2b714","g":"f672cf47.f61c8","name":"Prepare request","func":"/*\nUse Bearer token to authenticate API call.\nIn this example, we will use the \"/sms-kpn/v1/send\" API\n\nNote: The bearer token gets retrieved from the \nauthorization request: `msg.payload.access_token`\n*/\n\nvar baseURL = \"https://api-prd.kpn.com/messaging/sms-kpn/v1\";\nvar apiEndpoint = \"/send\";\n\nmsg.method = \"POST\";\nmsg.url = baseURL + apiEndpoint;\nmsg.headers = {};\nmsg.headers.Authorization = \"Bearer \" + msg.payload.access_token;\nmsg.headers[\"Content-Type\"] = \"application/json\";\n//msg.payload = null;\nmsg.payload = msg.json;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":640,"y":723,"wires":[["7e0f3922.b41968"]],"info":"Use Bearer token from previous request in the headers to authenticate API request.\n\nNote: The bearer token gets retrieved from the payload of the previous authorization request: `msg.payload.access_token`\n"},{"id":"7e0f3922.b41968","type":"http request","z":"a0f00381.2b714","g":"f672cf47.f61c8","name":"Send SMS request","method":"use","ret":"txt","paytoqs":"ignore","url":"","tls":"","persist":false,"proxy":"","authType":"","x":650,"y":783,"wires":[["5fe37c71.16a9d4"]]},{"id":"5fe37c71.16a9d4","type":"debug","z":"a0f00381.2b714","name":"Send SMS request result","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":970,"y":783,"wires":[]},{"id":"32590428.384a1c","type":"switch","z":"a0f00381.2b714","g":"da4ab3b2.bf6f","name":"","property":"payload","propertyType":"msg","rules":[{"t":"else"},{"t":"gte","v":"50","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":130,"y":180,"wires":[["62206cf9.69a5c4"],[]]},{"id":"24f99893.62b288","type":"inject","z":"a0f00381.2b714","g":"da4ab3b2.bf6f","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"10","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":150,"y":60,"wires":[["3abc1858.fe6348"]]},{"id":"3abc1858.fe6348","type":"random","z":"a0f00381.2b714","g":"da4ab3b2.bf6f","name":"random number","low":"1","high":"60","inte":"true","property":"payload","x":160,"y":120,"wires":[["32590428.384a1c"]]},{"id":"62206cf9.69a5c4","type":"debug","z":"a0f00381.2b714","name":"Random number output","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":410,"y":173,"wires":[]},{"id":"73b28456.ea06bc","type":"comment","z":"a0f00381.2b714","name":"Comment: Set API Store credentials","info":"Enter your KPN API Store credentials here.","x":704,"y":300,"wires":[]},{"id":"d725518d.983e9","type":"comment","z":"a0f00381.2b714","name":"Comment: Set SMS number and content","info":"Enter mobile phone number and SMS content here.","x":1020,"y":604,"wires":[]},{"id":"62e1a98d.897aa8","type":"comment","z":"a0f00381.2b714","name":"Comment: switch","info":"When the random number is 50 or above, the API request is triggered.","x":377,"y":220,"wires":[]}]